@font-face {
	font-family: "JetBrainMedium";
	src: url(../other/typography/JetBrainsMono-Medium.ttf);
}

@font-face {
	font-family: "Ailerons";
	src: url(../other/typography/Ailerons-Regular.otf);
}

:root {
	--bg-color-body-light: #fafafa;
	--bg-color-body-dark: #161616;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: JetBrainMedium, Ailerons, monospace;
}

body {
	display: grid;
	grid-template-areas: "h h h" "m m m" "f f f";
	grid-row-gap: 10px;
	min-height: 100vh;
}

header {
	grid-area: h;
	grid-template-areas: "i" span "b";
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	min-height: 15%;
	min-width: 10%;
	background-color: var(--bg-color-body-light);
}

header > a {
	grid-area: i;
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
}

header > a > img {
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 2rem;
	min-width: 2rem;
}

header nav {
	grid-area: b;
	display: flex;
	align-items: center;
	gap: 10px;
}

header .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	border-radius: 15%;
	width: 30px;
	height: 30px;
	padding: 5px;
	cursor: pointer;
	padding: auto;
	line-height: 1rem;
}

header .btn img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 2rem;
}

header nav #select-theme.active > img:nth-child(1) {
	display: none;
}

header nav #select-theme.active > img:nth-child(2) {
	display: flex;
}

header nav #select-theme > img:nth-child(2) {
	display: none;
}

main {
	grid-area: m;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-gap: 5px;
}

main > * {
	grid-column: 2;
}

main > h1 {
	text-align: center;
	font-weight: bold;
}

main .containerClock {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 2fr;
	grid-gap: 5px;
	justify-content: center;
	align-content: center;
	width: 95%;
	margin: 20px 0px;
}

main .containerClock > h2 {
	grid-column: 1 / span 2;
	grid-row: 1;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: -2px;
}

main .containerClock > p {
	grid-column: 1;
	display: grid;
	grid-template-columns: 1fr minmax(10px, 15px) 1fr minmax(20px, 40px);
	grid-template-rows: 1fr 1fr;
	font-size: 1rem;
	font-family: "Ailerons";
}

main .containerClock > p > span {
	display: grid;
	align-content: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
}

main .containerClock > p > span:not(:nth-child(n + 4)) {
	grid-row: 1 / 3;
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: -4px;
}

main .containerClock > p > span:nth-child(4) {
	grid-row: 1;
	font-size: 1.2rem;
	font-weight: bold;
	align-content: end;
}

main .containerClock > p > span:nth-child(5) {
	grid-row: 2;
	letter-spacing: -2px;
	font-size: 1.2rem;
	font-weight: bold;
	align-content: start;
}

main .containerClock .controlsClock {
	display: grid;
	grid-column: 2;
	grid-row: 2;
	grid-gap: 10px;
}

main > .containerPomodoro {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 95%;
	gap: 5px;
}

main > .containerPomodoro > img {
	width: 50px;
	height: 50px;
}

footer {
	display: grid;
	grid-area: f;
	grid-column: 2;
	grid-row: -1;
}

footer .containerSocialMedia {
	display: grid;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
	list-style: none;
}

footer .containerSocialMedia .socialMedia {
	padding-bottom: 10px;
}

footer .containerSocialMedia .socialMedia > a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

footer .containerSocialMedia .socialMedia > a > img {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 80%;
	height: 80%;
}

footer .containerSocialMedia .socialMedia > a > span {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 80%;
	font-size: 0.8rem;
}

@media screen and (max-width: 319px) {
	header {
		padding: 20px 20px;
	}

	main > p {
		margin-bottom: 10px;
	}

	main > .containerClock {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 50px;
		margin-bottom: 0px;
	}

	main > .containerClock > h2 {
		text-justify: center;
	}

	main > .containerClock > .clock {
		grid-column: 1 / 3;
		grid-row: 2;
	}

	main > .containerClock > .controlsClock {
		grid-column: 1 / span 2;
		grid-row: 3;
		grid-template-columns: repeat(3, minmax(10px, 1fr));
		padding: 10px;
	}

	main > .containerPomodoro {
		display: flex;
		align-content: center;
		grid-gap: 10px;
		margin-bottom: 10px;
	}

	footer {
		display: flex;
		align-content: center;
		justify-content: center;
	}

	footer > .containerSocialMedia {
		display: flex;
		align-items: center;
		justify-items: center;
		margin-left: 10px;
	}

	footer > .containerSocialMedia > .socialMedia {
		display: flex;
		flex: 1 1 33%;
		justify-content: center;
		align-items: center;
	}

	footer > .containerSocialMedia > .socialMedia > a {
		justify-content: space-evenly;
	}

	footer > .containerSocialMedia > .socialMedia > a > img {
		width: 50px;
		height: 50px;
	}
}
